@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';


.card-preview{
  @extend %preview-container;
  overflow: hidden;
}

%preview-component{
  @extend %preview-container;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-regular-text;
  line-height: 3rem;
}

.back{
  @extend %preview-component;
    display: block;
    position: absolute;
    background:  $color-primary-dark;
    color:  $color-regular-text;
    text-align: center;
    padding-top: 40px;
    overflow: hidden;
  }

.front{
  @extend %preview-component;
  position: relative;
  color: $color-regular-text;
  background: $color-primary;
}

.detail{
  margin: 10px 20px;
}

.card-preview:hover .front{
  transform: translateY(80px) ;
  transition: all 300ms ease;
  box-shadow:  $overlay-shadow;
}
