@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

section{
  width: 100%;
}

.tabbar{
    margin: auto;
    margin-top: 10px;
    width: 900px;
  }


.hr{
  @extend %hr
}

.tab{
  @extend %tab;
} 

.tab-active{
  @extend %tab-active;
}

@media only screen and (max-width: 1000px){
  .tabbar{
    margin-top: 1vw;
    width: 80vw;
  }
}