
  @import 'src/styles/_variables.scss';
  @import 'src/styles/_placeholders.scss';

  .overview{
    padding: 20px 10px;
  }

  .container{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }


  .title{
    font-family: inherit;
    font-size: 2rem;
  }
  .left{
    font-family: inherit;
    font-size: 1.2rem;
  }

  .details{
    font-family: "Raleway";
  }

  .session-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $color-contrast-text;
  }
  .passed-time{
    font-size: 1.5rem;
  }
  
  .buttons-panel{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .buttons-panel-hidden{
    visibility: hidden;
  }
  
  .buttons-panel button{
    cursor: pointer;
    background-color: white;
    font-family: "Raleway";
    font-size: 2rem;
    border: 0 solid  rgba(0, 0, 0, 0.05);
    border-radius: 10%;
    padding: 25px;
    margin: 20px 20px;
  }
  
  .buttons-panel button:hover{
    outline: none;
    transform: scale(1.1);
  }