@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';


.editor{
width: 100%;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10px 0px;
  
}

.content{
    width: 100%;
    max-width: 1100px;
    height: auto;
    flex-grow: 3;
}

.header{
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 10px;
    padding: 10px 20px
}

.caption{
    color:  rgb(22, 72, 94);
    font-family: $font-decorative;
    font-weight: 400;
    font-size: 1.7rem;
    padding: 5px 25px;
}

.back{
    display: inline-block;
    position: absolute;
    right: 40px;
    width: 40px;
    height: 35px;
    background-color: white;
    background: url("../../assets/icons/back-1.svg") no-repeat;
    background-size: contain;
    border: none;
    transition: 0.1s ease-in-out;
}

.back:hover{
    transform: scale(1.1);
}

.back:focus{
    outline: none;
    transform: scale(1.1);
}

.hr{
    @extend %hr;
    margin-top: 0.4rem;
    border: 1px solid rgba(139, 199, 224, 0.2);
  }

  @media screen and (max-width: 700px) {
    .back{
        right: 20px;
        width: 20px;
        height: 20px;
        top: 15px
    }
    .header{
        padding: 10px 0px
    }
  }