@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

.popup{
  position: relative;
  font-family: "Raleway";
  color: $color-contrast-text;
  width: 500px;
  height: 250px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(240, 251, 255);
  box-shadow: 0 0 20px rgba(0, 61, 87, 0.425);
  background-image: url("https://www.transparenttextures.com/patterns/tex2res5.png");
  background-image: url("https://www.transparenttextures.com/patterns/debut-light.png");
  background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
  
  
  /*box-shadow: 0 0 20px rgba(37, 109, 139, 0.425);*/
}

.save-btn{
  position: absolute;
  bottom: 0;
  right: 20px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  background-image: url('../../assets/icons/plus.svg');
  background-size: contain;
  transition: 0.05s ease-in;

}

.save-btn:hover{
  background-color: transparent;
  border: none;
  transform: scale(1.2)
}

.form{
    position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form input{
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0);
    width: 300px;
    padding: 5px;
    text-align: center;
    border:none;
    border-bottom: 2px dashed rgba(129, 184, 204, 0.6);
    color: rgb(48, 91, 107)
    
}

.form input::placeholder{
    color: rgba(129, 184, 204, 0.795);
}

.form :focus{
    outline: none;
    border-color: rgb(117, 170, 189);
}

.header{
    display: inline-block;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(20, 61, 77)
}