%icon-btn{
    background: none;
    background-color: none;
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
    display: inline-block;
    transition: transform .2s ease;
    &:hover{
        transform: scale(1.1);
    }
    &:focus{
        outline: none;
        transform: scale(1.1);
    }

}

%collapse-icon{
    @extend %icon-btn;
    background-image: url("../assets/icons/left.png");
}

%filter-icon{
    @extend %icon-btn;
    background-image: url("../assets/icons/filter.svg");
}

%sort-icon{
    @extend %icon-btn;
    background-image: url("../assets/icons/sort-up.svg");
}


%edit-icon{
    @extend %icon-btn;
    background-image: url("../assets/icons/edit-1.svg");
    &:hover{
        background: url("../assets/icons/edit-1-hover.svg");
    }

  }
  
  %delete-icon{
    @extend %icon-btn;
    background-image: url("../assets/icons/trash.svg");
    &:hover{
        background: url("../assets/icons/trash-hover.svg");
    }
  }