%edit-icon{
    display: inline-block;
    background: url("../assets/icons/edit-1.svg") no-repeat;
    background-size: contain;
    border: none;

    &:hover{
        outline: none;
        background: url("../assets/icons/edit-1-hover.svg") no-repeat;
        transform: scale(1.1);
    }

    &:focus{
        outline: none;
    }
  }
  
  %delete-icon{
    display: inline-block;
    background: url("../assets/icons/trash.svg") no-repeat;
    background-size: contain;
    border: none;

    &:hover{
        outline: none;
        background: url("../assets/icons/trash-hover.svg") no-repeat;
        transform: scale(1.1);
    }

    &:focus{
        outline: none;
    }
  }