@import 'src/styles/_variables.scss';
%preview-container{
    width: 255px;
    height: 170px;
    border-radius: 8px;
}

%outline-border{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid $color-primary-dark;
  left: 7px;
  bottom: 7px;
}

%btn{
  position: relative;
  font-family: $font-main;
  font-weight: 400;
  font-size: 1.9rem;
  text-align: center;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  height: fit-content;
  border: 1px solid ;
  transition: 0.1s ease;

  &::after{
    @extend %outline-border;
    border-radius: 10px;
    border: 1px solid ;
    left: 4px;
    bottom: 4px;
  }
}

%accent-btn{
  @extend %btn;
  background-color: $color-accent;
  display: inline-block;
  color: #000;
  font-weight: 400;
  font-size: 1.9rem;
  text-align: center;
  padding: 0.8rem 1.5rem;
  height: fit-content;
  border: 1px solid rgba(226, 166, 0, 0.514);
  background-image: url("https://www.transparenttextures.com/patterns/tex2res5.png");

  &:hover{
    transform: scale(1.1); 
  }

  &::after{
    border-color: rgba(226, 166, 0, 0.514);
  }
  
}

%submit-btn{
  @extend %btn;
  padding: 0.5rem;
  background-color:rgba(206, 239, 252, 0.342);
  border-color:rgba(24, 146, 190, 0.5);
  color: $dark-blue-text;
  font-size: 1.7rem;
  font-weight: 500;
  
  &:hover{
    transform: scale(1.1);
    box-shadow: none;
  }

&:focus{
  outline: none;
  border-width: 2px;
  box-shadow: 0px 0px 20px rgba(109, 137, 156, 0.3)
  }

  &::after{
    border-color: rgba(30, 111, 141, 0.5);
  }
}


%tab{
  display: inline;
  color:rgb(82, 148, 173);
  font-family: $font-main;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 100ms ease;
  line-height: 100%;
  padding: 10px 20px 6px;
  cursor: pointer;  
  &:hover{
    color: rgb(22, 117, 151);
    border-bottom: 2px solid rgb(22, 117, 151);
  }
}

%tab-active{
  @extend %tab;
  color: rgb(13, 56, 71);
  border-bottom: 2px solid rgb(17, 68, 87);
  &:hover{
    color: rgb(13, 56, 71);
    border-bottom: 2px solid rgb(17, 68, 87);
  }
}

%hr{
  margin-top: 7px;
  border:none;
  border-top: 2px solid rgb(82, 148, 173);
}

%panel-item{
  @extend %preview-container;
  background-color: rgb(206, 239, 252);
  background-image: url("https://www.transparenttextures.com/patterns/tex2res5.png");
  position: relative;
  box-sizing: border-box;

  &:hover{
    background-color:rgb(138, 209, 236);
    box-shadow: 0px 0px 15px rgba(45, 92, 116, 0.4)
  }
  &::before{
    @extend %outline-border;
  }
  &:hover::before{
    border-width: 1px;
    border-color: rgb(55, 115, 145);
  }
}


@media(prefers-color-scheme: dark){
  %tab{
    color:rgb(82, 148, 173);
    border-color:rgb(82, 148, 173);
    &:hover{
      color:rgb(0, 189, 236);
      border-color:rgb(0, 189, 236);
    }
  }
  %tab-active{
    color:#fff;
    border-color: #fff;
    &:hover{
      color:#fff;
      border-color: #fff;
    }
  }
  %panel-item{
    background-color: rgb(152, 228, 255);
    &:hover{
      background-color:rgb(0, 170, 212);
    }
    &::before{
      border-color: rgb(212, 244, 255);
    }
  }
  %submit-btn{
    background-color: transparent;
    background: none;
    color: #fff;
    font-size: 1.6rem;
  }
}