$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-secondary: var(--color-secondary);
$color-accent: var(--color-accent);

$color-contrast-text:  var( --color-contrast-text);
$color-regular-text: var(--color-regular-text);

$dark-blue-text:  rgb(22, 72, 94);

$font-basic: 'Roboto', 'Open Sans', sans-serif;
$font-main: 'Raleway', 'Roboto', 'Open Sans', sans-serif;
$font-decorative: "Comfortaa", 'Raleway', 'Roboto', 'Open Sans', sans-serif;

