@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

.link-container{
    @extend %preview-container;
    margin: 5px;
  }

.manage-btn{
    @extend %accent-btn;
    width: 90%;
  }
  

.links-board{
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 270px)) ;
  grid-gap: 5px;
  align-items: center;
  justify-items: center;
}

.collecions{
  margin-top: 30px;
}

.collecions header{
  font-family: "Raleway";
  font-weight: 400;
  font-family: "Comfortaa";
  font-weight: 300;
  font-size: 1.6rem;
  padding: 15px 30px;
}

@media screen and (max-width: 1024px) {
  .links-board{
    justify-content: center;
  }
  .collecions header{
    text-align: center;
  }
}
