@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

.link-container{
    @extend %preview-container;

  }

.manage-btn{
    @extend %accent-btn;
    margin: 15px;
  }
  

.links-board{
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 290px)) ;
  grid-gap: 5px;
  align-items: center;
  justify-items: center;
}

.collecions{
  margin-top: 30px;
}

.collecions header{
  font-family: $font-decorative;
  font-weight: 300;
  font-size: 1.6rem;
  padding: 15px 30px;
}
.image{
  position: relative;
  height: 600px;
  margin-top: 10px;
  text-align: center;
  background: url('../../../assets/images/girl2.png') no-repeat center;
  opacity: 0.85;
  background-size: contain;
}

.no-cards{
  display: inline-block;
  font-family: $font-decorative;
  color: $dark-blue-text;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .links-board{
    justify-content: center;
  }
  .collecions header{
    text-align: center;
  }
  .image{
    height: 550px;
  }
}

@media screen and (max-width: 700px) {
  .image{
    background: none;
  }
}

@media(prefers-color-scheme: dark){
  .no-cards{
    color: #fff;
  }
  .collecions header{
    color: #fff;
  }
}

