@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';


.collection-preview{
  @extend %panel-item;
}

.header{
  width: 100%;
  color: $dark-blue-text ;
  position: absolute;
  top: 3rem;
  font-size: 1.2rem;
  text-align: center;
}

.details{
  position: absolute;
  width: 100%;
  top: 3rem;
}

.footer{
  width: 100%;
  position: absolute;
  bottom: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
  color: $dark-blue-text;
}