
  @import 'src/styles/_variables.scss';
  @import 'src/styles/_placeholders.scss';

  .overview{
    padding: 20px 10px;
  }

  .container{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }


  .title{
    display: block;
    font-family: inherit;
    font-size: 2rem;
  }
  .left{
    display: block;
    font-family: inherit;
    font-size: 1.2rem;
  }

  .details{
    font-family: $font-main;
  }

  .session-info{
    width: 100%;
    padding: 0 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $color-contrast-text;
  }

  .time-container{
    height: 100%;
    width: auto;
  }

  .time{
    font-family: $font-basic;
    font-size: 2rem;
    font-weight: 300;
  }
