
  @import 'src/styles/_variables.scss';
  @import 'src/styles/_placeholders.scss';

  .overview{
    padding: 20px 10px;
  }


  .container{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .title{
    display: inline-block;
    color: $dark-blue-text;
    font-family: $font-decorative;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    margin: auto;
  }
  .left{
    display: block;
    font-size: 1.2rem;
    font-family: $font-decorative;
    color: rgb(69, 98, 110);
  }

  .session-info{
    width: 100%;
    padding: 0 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $color-contrast-text;
  }

  .time-container{
    height: 100%;
    width: auto;
  }

  .time{
    font-family: $font-basic;
    font-size: 2rem;
    font-weight: 300;
  }

  @media(prefers-color-scheme: dark){
    .caption{color: rgba(255, 255, 255,1);}
    .hr{
        border-color: rgba(255, 255, 255, 0.705);
    }
    .title{color:#fff}
    .left{color: rgba(218, 245, 255, 0.623);}
  }