@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

.container{
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 5px 5px 13px rgba(0,0,0,0.1);
  padding: 10px 20px;
  margin-bottom: 20px;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  overflow: hidden;
}

.caption{
  font-family: $font-main;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 10px;
}

.front .caption{
  color: rgb(44, 101, 126);
}

.front.container{
  background-color:rgb(176, 229, 248);
}

.back .caption{
  color: rgb(196, 144, 1);
}
.back.container{
  background-color: rgb(255, 221, 133);
}

.content{
  display: flex;
  flex-grow: 1;
}

.content textarea{
  resize: none;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: transparent;
  font-size:  1.5rem;
  font-family: $font-main;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: 2px solid transparent;
}

.front textarea:focus {
  outline: none;
  border: 2px dashed rgba(129, 184, 204, 0.6);
  border-radius: 10px;
}

.back textarea:focus {
  outline: none;
  border: 2px dashed rgba(187, 154, 65, 0.5);
  border-radius: 10px;
}

.front textarea::placeholder{
  color:rgba(129, 184, 204, 0.6);
}

.back textarea::placeholder{
  color:rgba(180, 136, 14, 0.5);
}

@media(prefers-color-scheme: dark){
  
.front.container{
  background-color: rgb(103, 215, 255);
}

.back.container{
  background-color: rgb(255, 210, 96);
}

}