@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

.container{
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba($color: hsl(0, 0%, 0%), $alpha: 0.1);
  padding: 10px 20px;
  margin-bottom: 20px;
  background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
}

.caption{
  font-family: "Raleway";
  font-weight: 300;
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 10px;
}

.front .caption{
  color: rgb(52, 121, 151);
}

.front.container{
  background-color: #D0F0FC;
}

.back .caption{
  color: rgb(155, 132, 69);
}
.back.container{
  background-color: #FBE19F;
}

.content{
  overflow: scroll;
  flex-grow: 2;
}

.content textarea{
  resize: none;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin: auto;
  text-align: center;
  background: transparent;
  font-size:  $text-medium;
  font-family: "Raleway";
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: none;
}

.front textarea:focus {
  outline: none;
  border: 2px dashed rgba(129, 184, 204, 0.6);
  border-radius: 10px;
}

.back textarea:focus {
  outline: none;
  border: 2px dashed rgba(194, 176, 126, 0.5);
  border-radius: 10px;
}

.front textarea::placeholder{
  color:rgba(129, 184, 204, 0.6);
}

.back textarea::placeholder{
  color:rgba(180, 142, 35, 0.5);
}

