@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

.board{
    margin: auto;
    padding: 30px 5px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 20px;
    min-height: 80vh;
    }

.manager{
    padding: 20px 10px;
    width: 100%;
    background: url("../../assets/images/blur.png") no-repeat;
    background-size: cover;
    border-radius: 20px;
}

@media(prefers-color-scheme: dark){
    .manager{
        background: none;
    }    
}