@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: space-around;
}

.content-section{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.caption{
  width: 100%;
  text-align: left;
  font-family: $font-main;
  font-weight: 300;
  font-size: 1.8rem;
  padding: 10px 20px;
}

.select-section label{
  font-family: $font-main;
  font-weight: 300;
  font-size: 1.5rem;
  height: 2.2rem;
  margin: 10px auto 20px ;
  color: $color-contrast-text;
}

.select{
  display: inline-block;
  background-color:  #fff;
  font-size: 1.3rem;
  margin-left: 15px;
  min-width: 250px;
  border-radius: 10px;
  height: 2.5rem;
  border: 1px solid $dark-blue-text;
}

.select-section{
  width: 100%;
  margin: 20px;
  text-align: center;
}

.submit-btn{
  @extend %submit-btn;
  width: 180px;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}


@media only screen and (max-width: 1000px){
  .editor{
    width: 80vw;
  }
  .edit-container{
    width: 90%;
    
  }
}

