@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

.msg{
  margin: 2vw ;
}


.greeting-msg{
    font-size: $text-large;
    text-align: left;
    font-family: "Comfortaa";
    font-weight: 300;
    margin-bottom: 10px;
  }
  
.invitation-msg{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.5rem;
  }
  
.invitation-container{
  border: 1px solid rgba(150, 180, 200, 1);
  padding: 1vw;
  margin-right: 30px;
  border-radius: 15px;
  font-size: $text-medium;
  width: 650px;
  text-align: center;
  color: $color-regular-text;
}

.start-btn{
  @extend %accent-btn;
  bottom:10px;
  width: 40%;
  margin-top: 20px;
  min-width: 10em;
  font-size: 1.6rem;
}

@media screen and (max-width: 1024px) {
  .invitation-container{
    width: 100%;
    margin-right: 0;
    height:auto;
  }
}