@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

.greeting-msg{
    font-size: $text-large;
    text-align: left;
    font-family: "Comfortaa";
    font-weight: 300;
    margin: 2vw 3vw;
  }
  
.invitation-msg{
    margin: 2vw 3vw;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.5rem;
  }
  
.greeting{
  border: 1px solid rgba(150, 180, 200, 1);
  padding: 20px;
  border-radius: 15px;
  font-size: $text-medium;
  width: 650px;
  text-align: center;
  color: $color-regular-text;
}

.start-btn{
  @extend %accent-btn;
  bottom:10px;
  width: 50%;
  min-width: 10em;
}

@media screen and (max-width: 1024px) {
  .greeting{
    max-width: 100%;
    height:auto;
  }
}