@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

.panel{
    display: grid;
    width: 100%;
    margin: auto;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, 270px));
    grid-gap: 20px 10px;
    }

.to_new{
    @extend %panel-item;
    color: rgba(249, 253, 255, 0.932);
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
.to_new:hover::before{
    border-width: 1px;
    border-color: rgb(55, 115, 145);
    }
.to_new::before{
    content: "";
    @extend %outline-border;
    }

