/* 1. Use relative sizes
   2. Remove duplications
   3. define root font-size according to the screen size 
   4. other sizes difine via rem*/
@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: 
    local("Roboto"),
    url("./assets/fonts/Roboto-Regular.ttf") format('truetype');
} 

@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: 
    local("Roboto-Light"),
    url("./assets/fonts/Roboto-Light.ttf") format('truetype');
} 

@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: 
    local("Roboto-Medium"),
    url("./assets/fonts/Roboto-Medium.ttf") format('truetype');
} 
@font-face{
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: 
    local("Comfortaa"),
    url("./assets/fonts/Comfortaa-Regular.ttf") format('truetype');
} 

@font-face{
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  src: 
    local("Comfortaa"),
    url("./assets/fonts/Comfortaa-Light.ttf") format('truetype');
} 

@font-face{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: 
    local("Raleway"),
    url("./assets/fonts/Raleway-Medium.ttf") format('truetype');
} 

/*global*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4em;
  font-family: "Roboto";
} 

a{
  text-decoration: none
} 

.app-container{
  height: 100vh;
}

.cloud-background{
  background: url('./assets/images/Clouds.png') top left no-repeat ;
  background-size: 100vw auto ;
}

.main-container{
  padding: 5px 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  margin-top: 40px;
}

button:focus{
  outline: 0;
}

button{
  cursor: pointer;
}

.popup-container{
  width:100%;
  height: 100%;

}

input::placeholder{
  color: $color-primary-dark;
}


