/* 1. Use relative sizes
   2. Remove duplications
   3. define root font-size according to the screen size 
   4. other sizes difine via rem*/

@font-face{
  font-family: "Roboto";
  font-style: regular;
  font-weight: 400;
  src: 
    local("Roboto"),
    url("./assets/fonts/Roboto-Regular.ttf") format(ttf);
} 

@font-face{
  font-family: "Roboto";
  font-style: light;
  font-weight: 300;
  src: 
    local("Roboto-Light"),
    url("./assets/fonts/Roboto-Light.ttf") format(ttf);
} 

@font-face{
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: 
    local("Roboto-Medium"),
    url("./assets/fonts/Roboto-Medium.ttf") format(ttf);
} 
@font-face{
  font-family: "Comfortaa";
  font-style: regular;
  font-weight: 400;
  src: 
    local("Comfortaa"),
    url("./assets/fonts/Comfortaa-Light.ttf") format(ttf);
} 

:root{
  --color-primary: rgba(220, 240, 250, 1);
  --color-primary-light:rgba(220, 240, 250, 0.5);
  --color-primary-dark: rgba(150, 180, 200, 1);
  --color-overlay: rgba(130, 180, 205, 1);
  --color-secondary: rgba(29, 183, 237, 1);
  --color-accent: rgba(255, 215, 112, 1);
  --light-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  --hard-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  --overlay-shadow: 0px -5px 3px rgba(0, 0, 0, 0.3);

  --color-contrast-text:  #000 ;
  --color-light-text: #fff;
  --color-regular-text: #444;

  --font-regular: "Roboto";
  --font-light:"Roboto-Light";
  --font-bold:"Roboto-Medium";
  --font-pretty: "Comfortaa";

  --text-large: 1.8rem;
  --text-medium: 1.5rem;
  --text-small: 1rem
}

@media(prefers-color-scheme: dark){
  :root{
    --color-primary: #376F89;
    --color-primary-light:rgba(29, 183, 237, 0.5);
    --color-primary-dark: rgba(150, 180, 200, 1);
    --color-overlay: rgba(130, 180, 205, 1);
    --color-secondary: rgba(29, 183, 237, 1);
    --color-accent: rgba(255, 215, 112, 1);
    --light-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

    --color-contrast-text:  #fff ;
    --color-regular-text: #fff;
  }
  body{
    background-color: #222;
  }
  
}
@media only screen and (max-width: 600px){
  :root{
    font-size: 12px;
  }
}

/*global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3em;
  font-family: var(--font-regular);

} 

a{
  text-decoration: none
} 

section{
  width: 100%;
  margin-bottom: 4rem;  
  color: var(--color-regular-text);
}

.app-container{
  height: 100vh;
  width: 100vw;
}

.cloud-background{
  background: url('./assets/images/Clouds.png') top left no-repeat ;
  background-size: 100vw auto ;
}

.main-container{
  height: 100%;
  padding: 5px 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  margin-top: 5vw;
}

.btn{
  background-color: var(--color-accent);
  box-shadow: var(--light-shadow);
  font-family: var(--font-pretty);
  color: #000;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
  height: fit-content;
  margin: 1vw;
}

.main-header{
  height: 60px;
  padding: 5px 6vw;
  vertical-align: middle;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer{
  position: absolute;
  bottom: 0;

}

.main-navbar li{
  display: inline;
  margin-left: 2vw;
}

.main-navbar a{
  color: var(--color-contrast-text);
  font-size: 1.15em;
}

.main-navbar a:hover{
  color: var(--color-secondary);
  transition: all 300ms ease;
}

.logo-container a{
  color: var(--color-contrast-text);
  font-family: var(--font-pretty);
  display: block;
  text-decoration: none;
  font-size: 2em;
}

.flex-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.section-header{
  font-size: var(--text-medium);
  padding: 1rem;
}
.box{
  width: 80%;
  margin-top: 2vw;
}

.tab:hover{
  color: var(--color-secondary);
  transition: all 300ms ease;
}

.tab.active{
  color: var(--color-secondary);
}
/* 
.previews-container::before{
  content: "You also could choose a collection.";
}
 */

/* Collection preview */

.preview{
  width: 220px;
  height: 140px;
  padding: 1em 0.5em;
  border-radius: 8px;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-regular-text);
}



.link-preview-title{
  font-size: var(--text-medium);
}

.link-preview-details{
  font-size: var(--text-small);
}

.border{
  position: relative;
  background: none;
  left: 0.45rem;
  bottom: 0.45rem;
  border: 1px solid var(--color-primary-dark);
}

.preview-main{
  position: absolute;
}

.preview-overlay{
  color: rgba(0,0,0,0);
  font-family: var(--font-pretty);
  font-size: var(--text-medium);
}

.preview-container{
  margin: 1vw;
}

.preview-container:hover .preview-overlay{
  position: relative;
  background-image: rgba(250, 250, 250, 0.8);
  backdrop-filter: blur(7px);
  color: var(--color-contrast-text);
  transition: all 500ms ease;
}

.preview-container:hover .hide-text{
 color: var(--color-primary); 

}

.preview-main{

}

/* Collection preview end*/

/* .quick-actions-container{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
 */

.home-greetings {
  /*   display: flex;
    flex-direction: column;
    align-items: center; */
  
    border: 1px solid rgba(150, 180, 200, 1);
    padding: 1.5em;
    border-radius: 0.5em;
    font-size: var(--text-medium);
    width: 50vw;
    text-align: center;
  }


#greeting-message{
  font-family: var(--font-regular);
  font-size: var(--text-large);
  margin-bottom: 1em;
  text-align: left;
}

#invitation-message{
  margin-bottom: 1em;
}

#add-card-btn{
  font-size: var(--text-large);
  font-family: var(--font-pretty);
  position: absolute;
  right: 10vw;
}

#quick-start-btn{
  font-size: var(--text-medium);
  font-family: var(--font-pretty);
  width: 50%;
  min-width: 10em;
}

#to-manage-btn{
  font-size: var(--text-medium);
  font-family: var(--font-pretty);
  width: 13rem;
}

/* Card */
.card-container{
  min-width: 25rem;
  min-height: 15rem;
  width: 40vw;
  height: 25vw;
  padding: 20px;
  font-size: 2rem;
  margin: 10px;
  border-radius: 8px;
  background-image: linear-gradient(135deg, var(--color-primary-light) 5%, var(--color-secondary)); 
  /* background-color: var(--color-secondary); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.card-back{
  position: absolute;
  text-align: center;
  opacity: 0%;
  transform: rotateY(180deg);
}
.card-front{
  position: relative;
}

.card-container:hover .card-front{
  opacity: 0%;
  transform: rotateY(180deg);
}

.card-container:hover .card-back{
  opacity: 100%;
  transform: rotateY(0deg);
}
.card-caption{
  color: var(--color-light-text);
  font-size: var(--text-small);
  font-family: var(--font-pretty);
  float: bottom;
}
.title{
  font-size: var(--text-large);
}
.detail{
  font-size: var(--text-small);
}
.session-info{
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.passed-time{
  font-size: var(--text-medium);
}
/* Card end*/

.tabbar li{
  display: inline;
  margin-left: 2vw;
  text-decoration: none;
  font-size: var(--text-medium);
  font-family: var(--font-regular);
}

.tabbar a{
  text-decoration: none;
  color: var(--color-contrast-text);
  font-size: 1.15em;
}

.tabbar a:hover{
  color: var(--color-secondary);
}

.tabbar{
  margin-top: 1vw;
  width: 65vw;
}

hr{
  margin-top: 0.4em;
  border: 0.5px solid var(--color-primary-dark);
}

.board{
  margin-top: 1vw;
  width: 70vw;
}

.add-btn{
  background-color: var(--color-primary-light);
  color: var(--color-light-text);
  font-size: 4rem;
}

.card-preview-back{
  display: block;
  position: absolute;
  background: var(--color-primary-dark);
  color: var(--color-regular-text);
  text-align: center;
  padding-top: 40px;
}
.card-preview-front{
  position: relative;
  color: var(--color-regular-text);

}

.preview-container:hover .card-preview-front{
  transform: translateY(80px) ;
  transition: all 300ms ease;
  box-shadow: var(--overlay-shadow);
}

.preview-header{
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: var(--color-contrast-text);
}
/* 
#control-board{
  width: calc(250px * 4 ) ;
}
@media only screen and (max-width: 1000px){
  #control-board{
    width: calc(250px * 3) ;
  }
}

@media only screen and (max-width: 750px){
  #control-board{
    width: calc(250px * 2) ;
  }
}
*/
@media only screen and (max-width: 600px){
  .preview{
    width: 170px;
    height: 110px;
    padding: 1em;
    flex-shrink: 10px;
  }
}


.editor{
  width: 50vw;
  height: 30vw;
  background-color: #fff;
  box-shadow: 0 0 30px var(--color-primary-dark);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-card-content{
  width: 80%;
  height: 80%;
  background-color: var(--color-primary-light);
  text-align: center;
}