@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';

.auth-container{
    width: 450px;
    height: 450px;
    padding: 40px; border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(150, 180, 200, 0.5);
    background-color: rgba(255, 255, 255, 1)
  }
  
.auth-tabs{
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    color: #444;
  }
  
.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  
.auth-form input{
    margin-bottom: 10px;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    background: transparent;
    border-radius: 8px;
    border: 1px solid $color-primary;
  }
  
.auth-form input:focus{
    outline:none;
    border-color: $color-secondary;
}

.auth-form input::placeholder{
  color: rgba(92, 154, 177, 0.5);
}
.hr{
  @extend %hr;
  margin-bottom: 30px;
}

.submit-btn{
  @extend %submit-btn;
  width: 170px;
  padding: 15px;
  font-size: 1.7rem;
  margin-top: 20px;
  
}

.tab{
  @extend %tab;
} 

.tab-active{
  @extend %tab-active;
}

@media only screen and (max-width: 500px){
  .auth-container{
    width: 100%;
    height: 500px;
  }
  .submit-btn{
    color: $dark-blue-text;
  }
}


@media(prefers-color-scheme: dark){
  .submit-btn{
    color: $dark-blue-text;
  }
  .tab{
    color: rgb(53, 155, 192);
    border-color: rgb(53, 155, 192);
    &:hover{
      color: rgb(22, 117, 151);
      border-color: rgb(22, 117, 151);
    }
  } 
  
  .tab-active{
    color:$dark-blue-text;
    border-color: $dark-blue-text;
    &:hover{
      color: rgb(22, 117, 151);
      border-color: rgb(22, 117, 151);
    }
  }
}