@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';


.link-container{
    @extend %preview-container;
    margin: 5px;
  }
  
%link-component{
  @extend %preview-container;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-regular-text;
  line-height: 3rem;
}

.info-component{
  @extend %link-component;
  position: absolute;
  background-color: $color-primary;
  line-height: 2rem;
  transition: all 0.2s 0.1s ease;
}

.overlay-component{
  @extend %link-component;
  color: rgba(0,0,0,0);
  font-family: "Comfortaa";
  font-size: $text-large;
  position: relative;
  background: none;
  left: 0.45rem;
  bottom: 0.45rem;
  border: 1px solid $color-primary-dark;
  transition: all 0.2s ease-in-out;
}

.link-container:hover .overlay-component{
  position: relative;
  background-image: rgba(250, 250, 250, 0.8);
  backdrop-filter: blur(7px);
  color: $color-overlay-text;
}

.link-container:hover .info-component{
  color: $color-primary; 
  transition: all 0s;
}

.link-title{
  font-size: $text-medium;
  line-height: inherit;
}

.link-details{
  font-size: $text-small;
  line-height: inherit;
}