@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';


.card-preview{
  @extend %panel-item;
}


.detail{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $dark-blue-text ;
  line-height: 3rem;
  width: 100%;
  top: 3rem;
  font-size: 1.2rem;
  text-align: center;
}
