@import 'src/styles/_variables.scss';
@import 'src/styles/_placeholders.scss';


.card-preview{
  @extend %panel-item;
}


.detail{
  margin: 10px 20px;
  padding: 1rem 0.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-regular-text;
  line-height: 3rem;
}
